<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="character set=UTF8;data source=localhost;initial catalog=base;"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="EmbeddedConnection" connectionString="character set=UTF8;server type=1;client library=..\..\..\..\..\firebird\fbclient.dll;initial catalog=base;"
      providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>